packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: []
    libtiff-devel: []
    libzip-devel: []
    freetype-devel: []
    geos: []
    libmemcached: []
    libmemcached-devel: []
    cyrus-sasl-devel: []
    zlib-devel: []

commands:
  01_gdal:
    command: "yum --enablerepo=epel -y install gdal gdal-python proj"
  02_rabbitmq:
    command: "yum --enablerepo=epel -y install rabbitmq-server librabbitmq-devel"
  03_start_rabbitmq:
    command: "service rabbitmq-server start"
