container_commands:
  01_install_postgis:
    command: "source /opt/python/run/venv/bin/activate && python pointr-backend/manage.py install_postgis"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python pointr-backend/manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python pointr-backend/manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "pointr_backend.settings.prod"
    "PYTHONPATH": "/opt/python/current/app/pointr-backend:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: pointr-backend/pointr_backend/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
