container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python heroes_space/manage.py migrate --noinput"
    leader_only: true
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python heroes_space/manage.py createsu"
    leader_only: true
  03_collect_static:
    command: "source /opt/python/run/venv/bin/activate && python heroes_space/manage.py collectstatic --noinput"
    leader_only: true
  04_initial_data:
    command: "source /opt/python/run/venv/bin/activate && python heroes_space/manage.py initial_data"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "heroes_space.settings"
    "PYTHONPATH": "/opt/python/current/app/heroes_space:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: heroes_space/heroes_space/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
