{% extends "modelo/padrao.html" %}
{% load static from staticfiles %}
{% block preload_static %}
    <script src="{% static 'js/phaser.min.js' %}"></script>
    <script src="{% static 'js/HealthBar.standalone.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/Boot.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/Menu.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/Preloader.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/EscolherHeroi.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/EscolherSalaMultiplayer.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/SalaDeEspera.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/Prologue.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/Level01.js' %}"></script>
    <script src="{% static 'webpage/js/scripts/Level02.js' %}"></script>
{% endblock %}
{% block styles %}
    <style>
        body {
            padding: 0;
            margin: 0;
        }
    </style>
    <link rel="stylesheet" href="{% static 'webpage/css/font_game.css' %}">
{% endblock %}
{% block title %}
    <title>Bem-vindo ao Space Heroes</title>
{% endblock %}
{% block body %}
    <div class="container">
        <div id="game"></div>
    </div>
{% endblock %}
{% block scritps %}
    <script type="application/javascript" src="{% static 'webpage/js/scripts/app.js' %}"></script>
{% endblock %}